<html>
<head>
    <title>ARKAD search</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css"/>
    <meta charset="utf-8">
    <meta name=viewport content="width= device-width">

</head>
<body>
    <div class="page">
        <a class="add-button" href="./search"><i class="fa fa-plus"></i></a>
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
                <h1 style = "margin-top:150px;">Content for ARKAD search</h1>
            </div>
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Name:</th>
                        <th>Time:</th>
                        <th>Info:</th>
                    </tr>
                </thead>
                <% if (dbcontent) {
                    for (var i=0; i < dbcontent.length; i++) { %>
                    <tr>
                        <td><%= dbcontent[i].name %></td>
                        <td><%= dbcontent[i].time %></td>
                        <td>
                            <textarea readonly class="form-control" rows="1" id="textArea" style = "resize:none"><%= dbcontent[i].info %></textarea>
                        </td>
                        <td class="entry-buttons">
                            <form class="form-style" method="get" action="/edit/<%= dbcontent[i].id %>">
                                <button type="submit" class="btn btn-primary">edit</button>
                            </form>
                            <form class="form-style" method="post" action="/delete/<%= dbcontent[i].id %>">
                                <button type="submit" class="btn btn-danger">delete</button>
                            </form>
                        </td>
                    </tr>
                    <% }
                } %>
            </table>
            <form action='/logout' method='post'>
                <button type="submit" class="btn btn-danger"> Logout </button>
            </form>
        </div>
    </div>
</body>
</html>
